.project
.classpath
.sonar
.settings
.idea*
*.iml
*.class
.svn
.externalToolBuilders
rebel.xml
velocity.log
.lastupdate

**/addons/
**/addonsrc/
**/bin/
**/classes/
**/commonwebsrc/
**/eclipsebin/
**/gensrc/
**/jalo/
**/testclasses/


**/*.xsd
**/build.xml
**/*testclasses.xml
**/platformhome.properties
**/wro_addons.xml

*_bof.jar
*hmc.jar
